<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>vcolesdev - File Metadata Microservice</title>
</head>
<body>
  <h1>Custom File Metadata Microservice</h1>
<form action="/api/analyzefile" id="formUploadFile" method="post" enctype="multipart/form-data">
  <div>
    <label for="upfile">
      Upload a file to analyze its metadata
      <input type="file" name="upfile" id="upfile" />
    </label>
  </div>
  <div>
    <button form="formUploadFile" type="submit">
      <span>
        Analyze File Data
      </span>
    </button>
  </div>
</form>
</body>
</html>